@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@layer base {
  body {
    background-color: #F8FAFC;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
  }
}